.imagemlogoo {
  --s: 80px;
  /* the size of the image */
  --b: 5px;
  /* the border thickness*/
  --g: 20px;
  /* the gap */
  --c: #DAA520;
  /* the color */

  width: var(--s);
  aspect-ratio: 1;
  outline: calc(var(--s)/2) solid #0009;
  outline-offset: calc(var(--s)/-2);
  cursor: pointer;
  transition: 0.3s;
  border-radius: 60%;
}

.imagemlogoo:hover {
  outline: var(--b) solid var(--c);
  outline-offset: var(--g);
}


header {
  background-image: url(imagens/op\ \(1\)\ \(1\).jpg);
  background-size: cover;
}


.logo {
  position: relative;
  left: 10%;
  bottom: 10%;
  padding-top: 5%;
}

.banner-image {
  display: block;
  width: 100%;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  height: 15%;
}

.custom-navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: 100%;
  text-align: center;
}

.custom-navbar .nav-link {
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
  display: inline-block;
  transition: background-color 0.3s ease;
  background: none;
  justify-content: center;
  margin-right: 10px;
  margin-top: 40px;
}

.custom-navbar .nav-link:hover {
  color: #DAA520;
  transition: 0.5s;
}

body {
  background-color: #ababab;
  margin: 0;
  overflow-x: hidden;
}


.custom-search {
  width: 300px;
  /* Defina o valor desejado para a largura da barra de pesquisa */
  max-width: 100%;
  /* Garante que a barra de pesquisa não ultrapasse a largura do elemento pai */
  margin-top: 40px;
}

.custom-search {
  position: relative;
}

.custom-search .input-group-append {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
}

.custom-search .btn {
  height: 100%;
}

.containerr {
  background-color: black;
}

.content {
  background: #fff;
  font-family: 'IM Fell French Canon Pro';
  font-size: 1.4rem;
  line-height: 1.6;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;

}

.carousel-item {
  width: 20%;

}

.titu {
  margin-top: 5%;
  margin-left: 10%;
  font-weight: bold;
  color: #3e3c3c;
  display: flex;
  align-items: flex-end;
  height: 5%;
}

.carousel {
  display: flex;
  align-items: flex-end;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.carousel-inner {
  margin-top: auto;
}

.promo-section {
  margin-top: 0%;
  justify-content: center;
}

.nu {
  margin-top: 5%;
  margin-left: 10%;
  font-weight: bold;
  color: #3e3c3c;
  display: flex;
  align-items: flex-end;
}

.card {
  margin-left: 10%;
}

.voltartop {
  display: block;
  text-align: center;
  color: #111;
  padding: 15px 0;
  line-height: 19px;
  font-size: 13px;
  font-family: inherit;
  white-space: normal;
  color: white;
}

.voltar {
  margin-top: 10%;
  background-color: #212830;
}

.link {
  text-decoration: none;
}

.voltartop:hover {
  color: #DAA520;
  transition: 1s;
}

.pedo {
  list-style-type: none;
}

#ab {
  text-decoration: none;
  color: #c2c1c1;
}

#ab:hover {
  transition: 0.5s;
  color: #DAA520;
}

.pedoo {
  color: white;
}

.text-center {
  display: block;
  text-align: center;
}

.footer {
  background: #000;
  padding: 100px 0px;
  font-family: Bahnschrift SemiBold;
  font-size: 15px;
  text-align: center;
}

.footer .row {
  width: 100%;
  margin: 1% 0%;
  padding: 0.6% 0%;
  padding-top: 20pxs;
  color: gray;
  font-size: 0.8em;
  display: table-column;
  text-decoration: none;
}

.contato {
  color: gray;
  font-size: 13px;
  text-decoration: none;
  list-style-type: none;
}

.imageminsta {
  width: 3%;
}

.imageminstaa {
  width: 5%;
}

.caro {
  margin-top: 0%;
  width: 30%;

}

.caroo {
  background-image: url(imagens/190908-17594107.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-left: 1%;
  margin-right: 1%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

}

.carousel {
  margin-top: 10%;
  box-shadow: rgba(240, 46, 170, 0.4) -5px 5px, rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px, rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;
  margin-bottom: 20%;
  box-shadow: rgba(240, 46, 170, 0.4) -5px 5px, rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px, rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;
}

.oimage {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .3s ease-in-out;
  transition: 0.5s ease-in-out;
}

.oimage:hover {
  -webkit-transform: scale(1);
  transform: scale(1.1)
}
.nossa{
  justify-content: center;
  display: flex;
  margin-right: 20%;
  margin-left: 20%;
  font-weight: bold;
  font-size: 17px;
  font-family: 'Times New Roman', Times, serif;

}

h1 {
  font-size: 120px;
  text-transform: uppercase;
  font-family: 'Gambetta', serif;
  letter-spacing: -3px;
  transition: 700ms ease;
  font-variation-settings: "wght" 311;
  color: PaleGoldenRod;
  outline: none;
  text-align: center;
}

h1:hover {
  font-variation-settings: "wght" 582; 
  letter-spacing: 1px;
}

p {
  font-size: 1.2em;
  line-height: 150%;
  text-align: center;
  color: rgb(0, 0, 0);
  letter-spacing: .5px;
}